@inherits LayoutComponentBase

<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sallamation</a>
        </div>
    </nav>
    <div class="container">
        @Body
    </div>
</div>
